* {
  padding: 0;
  margin: 0;
}

body {
  min-width: 960px;
  margin: 0 auto;
  font-size: 12px;
  line-height: normal;
  overflow-x: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 解决页面滚动条导致的页面跳动问题 */
:root {
  overflow-y: auto;
  overflow-x: hidden;
}

/* :root #chat-system {
  position: absolute;
} */

#chat-system {
  width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  :root {
    overflow-y: auto;
    overflow-x: auto;
  }

  #chat-system {
    width: 100vw;
    min-width: 960px;
    overflow-x: auto;
    overflow-y: auto;
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}